@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="Login" class="btn btn-primary">Login</a> | <a asp-action="SignUp" class="btn btn-primary">Sign Up</a></p>
</div>